{% extends 'base.html.twig' %}

{% block title %}Page de connexion !{% endblock %}


{% block body %}
 {% block navbar %}
 {% endblock %}
    <div class="container connexion">
<div class="offset-sm-4 col-sm-4">

    <img class="img-fluid" src="build/img/logoApli.png" alt="logo">
     {%  if messageErreur%}
    <p style="color: red; text-align: center;">
      Pseudo et/ou mot de passe incorrecte.
    </p>
        {% endif %}

    <form action="{{ path('connexion') }}" method="post" style="margin-top: 10px ;">

        <div class="form-group">
            <label for="pseudo">Pseudo:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="_username" aria-describedby="emailHelp" placeholder="pseudo" required>

        </div>
        <div class="form-group">
            <label for="psw">Mot de passe:</label>
            <input type="password" class="form-control" id="psw" name="_password" placeholder="mot de passe" required>
        </div>
        <button type="submit" class="btn btn-primary float-sm-right">Connexion</button>

    </form>
    </div>
    </div>
{% endblock %}
