{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 5%">
        <div class="offset-sm-4 col-sm-4">
            <h1>Bienvenue sur ...</h1>
            <img class="img-fluid" src="build/img/logoApli.png" alt="logo">
            <p style="text-align: center"><i class="fas fa-gavel"></i> Notre site est actuellement en cours de construction.</p>
        </div>
    </div>
{% endblock %}
