{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accses réservé à l'administrateur du site</h1>

    <p>
        Vous n'êtes pas autorisé à accseder à ce contenu.
        <a href="\">Revenir à l'accueil</a>
    </p>
{% endblock %}
